/* DeliveryChannels.css */

.delivery-channels-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.delivery-channels-card {
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px;
}

.delivery-channels-card h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.delivery-channels-card ul {
  list-style-type: none;
  padding-left: 0;
}

.delivery-channels-card ul li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
}

.delivery-channels-card p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}
