/* Footer.css */

.footer {
  background-color: #f9f9f9;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container p {
  margin: 0;
}

.contact-info {
  margin-left: 20px; /* Adjust margin as needed */
}

.contact-info p {
  margin-bottom: 5px;
}
