/* AboutUs.css */

.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-us-card {
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px;
}

.about-us-card h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.about-us-card p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-us-card p:last-child {
  margin-bottom: 0;
}
